<footer class="spa-footer">
  <div class="footer-content">
    <div class="social-media">
      <a href="https://www.instagram.com" target="_blank">
        <img src="assets/instagram-icon.svg" alt="Instagram">
      </a>
      <a href="https://www.whatsapp.com" target="_blank">
        <img src="assets/whatsapp-icon.svg" alt="WhatsApp">
      </a>
      <a href="https://www.facebook.com" target="_blank">
        <img src="assets/facebook-icon.svg" alt="Facebook">
      </a>
    </div>
    <p class="spa-address">
      Cartago, Tejar, 150 mts al sur de los tanques de A y A Barrio El Silo.
    </p>
  </div>
</footer>