@import "../../../styles/styles.scss";

.home-container {
  display: flex;
  flex-direction: column;

  .content {
    height: calc(100vh - 215.19px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    .spa-container {
      display: flex;
    }

    .background-image {
      background-image: url('../../../../public/assets/background-text.png');
      background-size: cover;
      background-position: center;
    }

    .text-overlay {
      display: flex;
      height: 100%;
      flex-direction: column;
      width: 50%;
      color: $primary-color2;
      justify-content: center;
      margin-left: 25px;
    }

    .massage-image {
      min-width: 50%;
    }

    .section-2 {
      width: 75%;
      display: flex;
      justify-content: center;
      align-self: center;
      flex-direction: column;

      .service {
        background-color: $primary-color2;
        color: white;
        padding: 15px;
        border-radius: 5px;
        margin: 10px;
        font-size: larger;

        .service-title-price {
          display: flex;
          justify-content: space-between;

          .show-button {
            background: none;
            border: 0;
            color: white;
          }

          .open-close-container {
            padding-top: 10px;
          }
        }
      }
    }
  }
}